body {
    background-image:url(/img/seamless-waffle-background.jpg);
    background-repeat: repeat;
    padding-top: 110px;
    padding-bottom: 60px;
}

#content {
    padding: 0 4rem;
    margin-bottom: 65px;
}

.divider {
    transform: translateX(-50%);
}

/* for large screens */
@media screen and (min-width: 990px) {
    body {
        padding-top: 82px;
    }

    .nav-link-row {
        display: flex;
    }

    #content {
        padding: 0 8rem;
    }

    .divider {
        transform: translateX(-75%);
    }

    .divider1 {
        transform: translateX(-60%);
    }
}

.brand-logo {
    width: 120px;
}

.navbar-color {
    background-color:#2b2223;
}

.bg-color {
    background-color:#f2d5ad;
}