{{#extends 'base'}}

{{#block 'content'}}

<div class="row pt-5">
    <div class="col-12 col-lg-8 mx-auto navbar-color text-light p-4">
        <h3>Thank you for your order.</h3>
        <p>&nbsp;</p>
        <p>We will be preparing your order shortly.</p>
    </div>
    <div class="col-12 col-lg-8 mx-auto p-0 mt-4">
        <a class="btn btn-primary btn-lg me-auto" role="button" href="/">Return to Home</a>
    </div>
</div>

{{/block}}

{{/extends}}